*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: "Microsoft YaHei" sans-serif;
}
a{
    text-decoration: none;
    color: #000000;
}
ul{
    list-style: none;
}
input,textarea{
    border: none;
    resize: none;
    outline: none;
    -webkit-appearance: none;
}
.clearfix::after,.clearfix::before{
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
[class*="icon-"]{}